.Board {
    padding: 5px;
    max-width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

}