.Card {
    border: 2px solid black;
    margin: 5px;
}

.Card p {
    word-wrap: break-word;
    word-break: break-word;
    margin: 10px 5px; 
}

.deleteBtn {
    float: right;
    margin: 5px 5px 0 0;
}