.Toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    background-color: #46494C;
}

.logo {
    color: #DCDCDD;
    display: inline-block;
}

.selectBoardBtn {
    display: inline-block;
}

.addNewColumnBtn {
    margin-left: 5px;
}

.toolbarRight {
    min-width: 30%;
    text-align: right;
    padding: 5px;
}

.toolbarLeft {
    min-width: 30%;
    text-align: left;
    padding: 5px;
}