.Column {
    flex-grow: 1;
    flex-basis: 0;
    border: 2px solid black;
}

.Column h4 {
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.deleteBtn {
    float: right;
    margin: 5px 5px 0 0;
}

.newBtn {
    float: left;
    margin: 5px 0 0 5px;
}