.Column {
    flex-grow: 1;
    flex-basis: 0;
    border-width: 0.1px;
    border-style: solid;
    border-color: #454545;
    background-color: #DCDCDD;
}

.Column h4 {
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.headDiv {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #385F71;
}

.deleteBtn {
    float: right;
    margin: 5px 5px 0 0;
}

.newBtn {
    float: left;
    margin: 5px 0 0 5px;
}