html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: inherit;
}

input, select {
  outline: none;
}

button {
  background-color: #C47335;
  border-style: none;
  border-radius: 5px;
  color: #FFFCFF;
}

button:disabled {
  background-color: gray;
  border-style: none;
  border-radius: 5px;
  color: #FFFCFF;
}